<header class="site-header">
  <div class="container">
    <div class="logo">
      <a href="{{ "/" | relURL }}">
        <img src="{{ "/images/greycatgameslogo_1280x480.png" | relURL }}" alt="Logo"/>
      </a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "/games/" | relURL }}">Games</a></li>
        <li><a href="{{ "/blog/" | relURL }}">Blog</a></li>
        <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
</footer>