{{ define "main" }}
<!-- Fullscreen Banner / Slideshow -->
<section class="hero">
  <div class="slides">
    {{ range .Params.slides }}
    <div class="slide">
      <div class="slide-bg" style="background-image: url('{{ .image | relURL }}');"></div>
      <div class="slide-text">
        <h2>{{ .subtitle }}</h2>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<!-- Recent Blog Posts -->
<section class="recent-posts">
  <div class="container">
    <h2>Latest from the Blog</h2>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
      {{ $author := $.Site.GetPage (printf "authors/%s" .Params.author) }}
      <li class="blog-summary">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>

        {{ if $author }}
        <div class="post-author">
          <img src="{{ $author.Params.avatar | relURL }}" alt="{{ $author.Title }} avatar">
          <div class="author-info">
            <a href="{{ $author.RelPermalink }}">{{ $author.Title }}</a>
            <p>{{ $author.Params.job }}</p>
          </div>
        </div>
        {{ end }}

        <p>{{ .Summary }}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
