{{ define "main" }}
<section class="contact-page container">
    <h1>{{ .Title }}</h1>

    <p>If you need support for our games, please email: <a href="mailto:support@greycatgames.com">support@greycatgames.com</a></p>

    <p>If you are part of the press or media and require assistance, email: <a href="mailto:press@greycatgames.com">press@greycatgames.com</a></p>

    <p>We are a very small team, and usually quite busy so responses may take some time, however we aim to respond as soon as we can.</p>
</section>
{{ end }}
